{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
{#	<meta http-equiv="refresh" content="2">#}
	<title>Document</title>s
	<script type="text/javascript" src={% static "js/jquery.js"%}></script>
	<script type="text/javascript" src={% static "js/infodetail.js"%}></script>
</head>
<body>
	<div id="container">
		{%include "model/head.html"%}
		<div id="inner">
			<div id="">
				<div></div>
				<div></div>
			</div>
			<div>
				<div></div>
				<div></div>
			</div>
			<div>
				<div></div>
				<div></div>
			</div>
			<div>
				<div></div>
				<div></div>
			</div>
		</div>


	</div>
	
</body>
</html>



