{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
{#	<meta http-equiv="refresh" content="2000">#}
	<title>loading</title>
	<script type='text/javascript'  src={% static "js/loading.js"%}></script>
	<link rel="stylesheet" href={% static "style/loading.css"%}>
</head>
<body>
	<div id="inner">
		<form id="fom" action="/loading"  method="post" novalidate>
			{% csrf_token %}
			<label for="user">
        账号：<input type="text" id="user" value="{{u}}" name="usr">
      </label>

      <label for="passwd">        
        密码：<input type="{%if b%}text{%else%}password{%endif%}"
        value="{{pw}}"
        name="passwd">
      </label>
      <div id="inp">
        <input type="submit" value="确定" class="put" id="yes">
        <input type="button" value="取消" class="put" id="cancel">
        <input type="button" value="注册" class="put"  id="reg">
      </div>
    </form>
    <div id="err">
      <span id="usrerr" class="err">
        {{ obj.errors.usr }}
      </span>
      <span id="passwderr" class="err">
        {{ obj.errors.passwd }}
      </span>
    </div>
  </div>
</body>
</html>