*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background-color: rgba(211,211,211,0.5);
}
#container{
	margin:auto;
	width:80%;
	min-width: 850px;
	/*background:red; */

}

#header{
	width:100%;
	height: 12.4069%; 
}

#inner{
	margin-top: 0;
	width:100%;
	height:74.441687%;  /****要修改的地方****/
	background:#FFF;  
	padding-top:1px; 
	border:1px solid #CCC;
	box-shadow: 5px 5px 3px #8F8F8F;
	
}

#inner .left{
	float:left;
	height: 4%;
	width:32%;  
	background: green;
	margin-bottom:1.78%;
	position: relative;
}
#inner .right{
	float:right;
	height:4%; 
	width: 32%;
	margin-bottom:1.78%; 
	background: green;
	position: relative;
}
#inner .middle{
	margin:auto;
	margin-bottom:1.78%;  
	background: green;
	width: 32%;
	height:4%;
	position: relative;
	
}

#inner .headimg{
	height:100%;
	border-radius: 50%; 
}
.name{
	position: absolute;
	width: 13%;
	top:59%;
	left:5%;
    text-align:center;
	overflow:hidden;
	color:blue;
}
#inner .data{
	float:right;
	width:77%;
	height:100%;
	overflow:hidden;
	/*background: red;*/
}


/*****************翻页按钮****************/
#inner #button{
	position: fixed;
    bottom:10px;
    left:27.5%;
	height:40px; 
	width:45%; 
	background:#FFF;
	font-size:1.2em;
	padding-top:0.6%;
	padding-left:1%;
	padding-right:1%;  
	color:blue;
	border:1px solid #CCC;
}

#button #pre{
	float:left;
	background:#CCC;
	height:85%; 
	width:20%; 
	text-align:center;
	cursor:pointer;
	 
}
#button #number{
	background:#CCC;
    height:85%; 
	width:56%; 
	margin-left:1%; 
	margin:auto;
    position: relative;
    
}
#number input{
	background:#CCC; 
	width:24%;
	height:85%;
	border-style: none; 
	margin:auto; 
	text-align: center;
	color:red;
	/*border: 1px solid black;*/
}
#number #all{
	position: absolute;
	width:26%; 
    float:left;
    left:45%;
	top:14%;
	color:blue;
}
#number #yes{
	color:yellow;
	position: absolute;
	height:100%;
	width:25%; 
	top:0%;
	left:72%;
	border: none;
    /*border:1px dashed black; */
    background:green;
	cursor:pointer;
}

#button #next{
	width:20%; 
	height: 85%;
	float:right;
	background:#CCC;
	color:blue;
	text-align: center;
	cursor:pointer;
}


#footer{
	height:9.92555%; 
}