*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background-color: rgba(211,211,211,0.5);
}
#container{
	/*background:red;*/
	width:850px;
	min-width: 850px;

	/*height:1000px;  */
	margin:auto;
}
#container #inner{
	background:yellow;
	width: 100%;
	/*height:500px;  */
	background:#FFF; 
}
#inner #title{
	width: 100%;
	height:50px; 
	text-align:center;
	line-height:50px;
	border-bottom:1px solid green;
	outline-style: none;
	font-size:25px; 

}

#inner  #content{
	/*background: blue;*/
	width: 100%;
	height: 600px;
	overflow-y:auto;
	border-bottom:1px solid green; 
	outline-style: none;

}
#inner #loc{
	/*background:green; */
	margin:auto;
	padding:10px; 
	height: 50px;
	width:65%; 
}

#loc .loc{
	-webkit-appearance:none;
	width:20%;
	height:30px; 
	margin:auto;
	border: 1.5px dashed green;
	border-radius: 5px 5px;


}
 #group{
	/*background: red;*/
	border: 1.5px dashed green;
	border-radius: 5px 5px;
	width:37.5%; 
	height:30px; 

}

#inner #button{
	/*background: blue;*/
	margin:auto;
	width:60%; 
	height:60px; 
	padding-top:10px; 
	padding-bottom: 10px;

}
#button input{
	border-radius:5px 5px; 
	background:#FFF; 
	border-style:none; 
	border: 1px solid green;
	width:49.6%; 
	height:100%;
	color:red;

	 
}