*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}

body{
	background-color: rgba(211,211,211,0.5);
	
}
#inner{
	margin:auto;
	width:80%;
	min-width:850px;
	/*background:#FFF; */
	
}
#header{
	width:100%;
	height:21.36%;
	margin-bottom:1%;
	box-shadow: 5px 5px 3px #8F8F8F; 
	
}
#ad{
	height:80%;
	width:100%;
	background:yellow;
}
#ad img{
	height: 100%;
	width: 100%;
}
#topbar{
	height:20%;
	width:100%;
	background:green;
	position: relative;
}
#topbar img{
	height:100%;
	border-radius:50%;
	float:left;
	margin-left:4%;
}
#topbar #name{

	margin-top:2.5%;
	margin-left: 1%;
	color:#FFF;
	float:left;
}

#topbar ul{
	float:left;
	width: 85%;
	height:60%;
	margin: auto;
	margin-top:2%;
	float: left;
	/*background: blue;*/
	padding-left:5%;
}

#topbar ul li{
	height:100%;
	width:14.2% ;
	/*background: red;*/
	list-style:none;
	float:left;
}

#topbar ul li a{
	display: block;
	text-decoration:none;
	font-size: 17px;
	color:#FFF;
}
#topbar input[name="mark"]{
	display: none;
	background: red;
}

/******************以下为详细内容***************/




#content{
	width:100%; 
	height:59.82%;
	/*	background: red;*/
    background: #FFF;
	box-shadow: 5px 5px 3px #8F8F8F; 
	border:0.5px solid #ccc;
}



#content #otherinfo{
	width:40%; 
	height:100%; 
	padding-top:1%; 
	float: left;
	/*	background: yellow;*/
	

}


#content #otherinfo img{
	height: 15%;
	border-radius: 50%;
	display: block;
	margin: auto;

}
#otherinfo #name{
	width:100%;
	padding-top:1%; 
	height:5%; 
	text-align:center;
	/*color:green; */
}

#content #otherinfo #usrxy{
	padding-top:2%; 
	width:98%;
	height:10%;  
	color:#FFF; 
	margin-left:1%; 
	text-align: center;
	line-height:160%;
	background: green;

}
#otherinfo #achievment{
	/*background: green;*/

	height:71%; 

}
#achievment label{
	float: left;
	height:15%;
	width: 33.3%;
	/*color:green;*/
	/*background:blue; */
	padding-top:5%; 
	font-size: 120%;
	text-align: right;


}
#achievment input{
	width:40%; 
}

#achievment #edit{
	clear:both; 
	height:70%;
	width:98%;
	margin:auto;
	margin-left:1%;
	border:1.5px solid green; 
}
#achievment #submit{
	display: block;
	background: #fff;
	/*color:gre;*/
	width:98%;
	height:10%; 
	font-size:1.2em; 
	margin:auto;
	margin-top:1%;
	border-radius: 3px;
	border-style: none;
	border:1.5px solid green;
}

#content  #usrinfo{
	height:100%;
	width:59.8%;
	/*color:#FFF;*/
	float:right;
}

#content  #usrinfo div{
	border-top: 1px solid green;
	height: 30%;
}
#content #usrinfo #title
{   color:#FFF;
	border: none;
	height: 10%;
	text-align: center;
	padding-top:3%;
	font-size:1.3em; 
	background: green
}

#content #usrinfo #ct{
	height:75% ;
	padding-left:5%;
	padding-right: 5%; 
	padding-top: 4%;
	outline: none;
	/*background: orange;*/
	/*color:#FF;*/
	border:1px solid green; 




}

#content #usrinfo #call{
	height: 13.5%;
	background:green;
}


#footer{
	margin-top:10px; 
	clear:both;
	height:17.1%;
	width:100%;
	background:green;
	box-shadow: 5px 5px 3px #8F8F8F; 
}