*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}

body{
	background-color: rgba(211,211,211,0.5);
	
}
#inner{
	margin:auto;
	width:80%;
	min-width:850px;
	/*background:#FFF; */
	
}
#header{
	width:100%;
	height:250px;
	margin-bottom:1%;
	box-shadow: 5px 5px 3px #8F8F8F; 
	
}
#ad{
	height:80%;
	width:100%;
	background:yellow;
}
#ad img{
	height: 100%;
	width: 100%;
}
#topbar{
	height:20%;
	width:100%;
	background:green;
	position: relative;
}
#topbar img{
	height:100%;
	border-radius:50%;
	float:left;
	margin-left:4%;
}
#topbar #name{

	margin-top:2.5%;
	margin-left: 1%;
	color:#FFF;
	float:left;
}

#topbar ul{
	float:left;
	width: 85%;
	height:60%;
	margin: auto;
	margin-top:2%;
	float: left;
	/*background: blue;*/
	padding-left:5%;
}

#topbar ul li{
	height:100%;
	width:14.2% ;
	/*background: red;*/
	list-style:none;
	float:left;
}

#topbar ul li a{
	display: block;
	text-decoration:none;
	font-size: 17px;
	color:#FFF;
}
#topbar input[name="mark"]{
	display: none;
	background: red;
}

/******************以下为详细内容***************/




#content{
	width:100%; 
	height:800px;
	/*	background: red;*/
    background: #FFF;
	box-shadow: 5px 5px 3px #8F8F8F; 
	border:0.5px solid #ccc;
	/*background: blue;*/
}



#content #otherinfo{
	position: relative;
	width:40%; 
	height:15%; 
	/*background: yellow;*/
	margin: auto;
	margin-bottom:1%;
	/*margin-left: 10%;  */
	

}


#otherinfo img{
	
	height:100%;
	border-radius: 50%;
	display: block;
	margin: auto;
	margin-top:1%; 

}

#otherinfo #usrxy{
	position:absolute;
	top:20%; 
	left:68%;
	z-index:2; 
	width:110%;
	height:60%;  
	color:#FFF; 
	margin-left:1%; 
	text-align: center;
	background: green;


}
/*#usrxy div{
	line-height:120%; 

}*/




#content  #usrinfo{
	height:82%;
	width:80%;
	/*color:#FFF;*/
	margin:auto;
	border:1px solid green; 
}


#usrinfo #title
{   color:#FFF;
	border: none;
	height: 8%;
	text-align: center;
	padding-top:0.5%;
	font-size:1.5em; 
	color:black;
	border-bottom: 1px dashed green;
	/*background: green*/
}

#usrinfo #ct{
	height:87%;
	overflow:auto;
	/*background: orange;*/
	/*color:#FF;*/
}

#usrinfo #call{
	height:5%;
	border-top: 1px dashed green;
	background:green;
}

#eva{
	
	margin-top:10px; 
	background:#FFF;
	box-shadow: 5px 5px 3px #8F8F8F;
	border: 1px solid #ccc;
	height:500px;

}
#box
{  
	width:8%; 
	float: left;
	margin-top:10%; 
}
.evamanager{
	width:100%; 
	height:10%; 
	text-align: center;
	background:green;
	color:#FFF;
	cursor:pointer;

}

#othereva{
	/*display: none;*/
    float:right;
	width:80%;
	height:98%; 
	margin: auto;
	margin-top:0.5%; 
	margin-right:10%;
	overflow-y:auto;
    border-left: 1px solid green;
    border-right: 1px solid green;
}

.ul{
	/*background:#ccc;*/
	width:100%;
	margin-top:10px;
	float:left;
	
}
.li{
	float: left;
	list-style: none;
	position: relative;

}


.othername
{
  position: absolute;
  left:30%;
  top: 60%;
  color:red;
}
.li2
{  

word-wrap:break-word;
color:blue;
background:#ccc;
max-width: 90%;
min-height:60px; 
border-radius: 10px;
border:1px solid #CCC;
}
.li img{
	height:60px; 
	border-radius:50%;
}


/*评论编辑区*/
#toeval{
	
	display: none;
	background:#FFF;
	box-shadow: 5px 5px 3px #8F8F8F;
	border: 1px solid #ccc;
	height:500px;
	/*background: yellow;*/
}
#text{
	display: block;
	width:80%;
	height:87%; 
	margin:auto; 
	margin-right: 11%;
	margin-top: 1%;
	margin-bottom:1%; 
	border: 1px solid green;
	outline-style: none;
}

#score{
	-webkit-appearance:none;
	background: green;
	color:yellow;
	font-size: 1.2em;
	text-align:center;
	float: left;
	width:15%; 
	height:8%; 
	padding-top:0.5%; 
	margin-left: 32%;
	border-radius: 5px;
}

.action{

	text-align: center;
	color:#FFF;
	background: green;
	border-radius: 5px;
	border:1px solid green;
	height:8%; 
	font-size: 1.5em;
	float:left;
	width:10%; 
	margin-left:3px; 
	cursor:pointer;
	
}
#footer{
	margin-top:10px; 
	clear:both;
	height:17.1%;
	width:100%;
	background:green;
	box-shadow: 5px 5px 3px #8F8F8F; 
}