*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
  /*background: red;*/
}

#header{
	width:100%;
	/*height:250px;*/
	margin-bottom:1%;
	box-shadow: 5px 5px 3px #8F8F8F;

}
#ad{
	height:80%;
	width:100%;
	background:yellow;
}
#ad img{
	height: 100%;
	width: 100%;
}
#topbar {
	height: 20%;
	width: 100%;
	background: green;
}
#topbar img{
    display: block;
	height:100%!important;
	border-radius:50%;
	float:left;
	margin-left:4%;
}
#topbar #name{

	margin-top:2.5%;
	margin-left: 1%;
	color:#FFF;
	float:left;
}

#topbar ul{
	float:left;
	width: 85%;
	height:60%;
	margin: auto;
	margin-top:2%;
	float: left;
	/*background: blue;*/
	padding-left:5%;
}

#topbar ul li{
	height:100%;
	width:14.2% ;
	/*background: red;*/
	list-style:none;
	float:left;
}
#topbar ul li a{
	display: block;
	text-decoration:none;
	font-size: 17px;
	color:#FFF;
}
#topbar input[name="mark"]{
	display: none;
	background: red;
}
